@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    /* background: linear-gradient(0deg, rgb(253, 143, 103), rgb(212,99,163));
    min-height: 110vh; */
}

body {
    background-image: url(bg_3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

section {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.circular-image {
    border: 1px solid #ffffff;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.inner-link {
    background-color: rgb(255, 255, 255);
    padding: 13px;
    transition: 0.1s ease-in;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: 2px 5px 15px rgb(33, 21, 93); */

}

.inner-link:hover {
    background-color: transparent;
}

.sub-head {
    font-size: 19px;
}

.sub-headbio {
    font-size: 13px;
}

.links-section {
    margin-top: 30px;
}

.sub-sec {
    margin: 15px 0px;
    
}

.links-section-cs {
    margin-top: 0px;
}

.sub-sec-cs {
    margin: 15px 0px;
    
}

.inner-link-cs {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transition: 0.1s ease-in;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: 2px 5px 15px rgb(33, 21, 93); */

}

.inner-link-cs:hover {
    background-color: transparent;
}


@media screen and (max-width: 720px) {
    section {
        width: 100%;
    }
}

.coverBg {
    background-image: url(images/bg_3.jpeg);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.wrapper {
    width: 900px;
    margin: auto;
    height: 100%;
    background-color: #ffffff;
    position: relative;
}

/* ---------------------------------------------------------------- */

.hero-area-l-17 .hero-area-image video {
    box-shadow: 0px 22px 74px rgba(20, 21, 24, 0.1845);
    border-radius: 20px;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  
  }

  .hero-area-l-17 .hero-area-image iframe {
    box-shadow: 0px 22px 74px rgba(20, 21, 24, 0.1845);
    border-radius: 20px;
    position: relative;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
  
  }
  /* VIDEO BG */


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>      
            Video Area-L-17
          <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
          .video-l-17 {
            position: relative;
            background: url(../image/l8/video-bg.png);
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 60px;
            padding-bottom: 40px;
            z-index: 1;
          }
          
          .video-l-17:before {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            background: linear-gradient(-45deg, #152649 0%, #4f525c 100%);
            top: 0;
            left: 0;
            z-index: -1;
            opacity: .6;
          }
          
          @media (min-width: 768px) {
            .video-l-17 {
              padding-top: 80px;
              padding-bottom: 60px;
            }
          }
          
          @media (min-width: 992px) {
            .video-l-17 {
              padding-top: 100px;
              padding-bottom: 100px;
            }
          }
          
          .video-l-17 .video-content a i {
            background: #fff;
            width: 96px;
            height: 96px;
            line-height: 96px;
            border-radius: 50%;
            text-align: center;
            color: #42D451;
            margin-bottom: 40px;
          }
          
          @media (min-width: 768px) {
            .video-l-17 .video-content a i {
              margin-bottom: 55px;
            }
          }
          
          .video-l-17 .video-content h2 {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 38px;
            line-height: 50px;
            letter-spacing: -0.3px;
            color: #FFFFFF;
            margin-bottom: 20px;
          }
          
          .video-l-17 .video-content p {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 32px;
            color: #FFFFFF;
          }


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>      
            Video Area-L-17
          <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.video-area-l-17 {
  position: relative;
  background: url(../image/l8/video-bg.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 40px;
  z-index: 1;
}

.video-area-l-17:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #152649 0%, #4f525c 100%);
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .6;
}

@media (min-width: 768px) {
  .video-area-l-17 {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .video-area-l-17 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.video-area-l-17 .video-content a i {
  background: #fff;
  width: 96px;
  height: 96px;
  line-height: 96px;
  border-radius: 50%;
  text-align: center;
  color: #42D451;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .video-area-l-17 .video-content a i {
    margin-bottom: 55px;
  }
}

.video-area-l-17 .video-content h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.video-area-l-17 .video-content p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
}